# Object file
*.o

# Ada Library Information
*.ali
back up/include/Buttons.h
back up/include/FlashOptions.h
back up/include/gfxfont.h
back up/include/Graphics.h
back up/include/hw_timer.h
back up/include/Image565.h
back up/include/Inputs.h
back up/include/my_math.h
back up/include/Pictures.h
back up/include/SimpleCube.h
back up/include/spi_register.h
back up/include/Timer.h
back up/include/uart_register.h
back up/include/Vectors.h
back up/include/Apps/Flash_apps.h
back up/include/Apps/Gamma&Tests.h
back up/include/Apps/Vertex_Graphics_apps.h
back up/include/Menue/Init_menue.h
back up/include/Menue/menueItem.h
back up/include/Menue/OptionsItem.h
back up/include/display_drivers/buffering.h
back up/include/display_drivers/disp_Instant.h
back up/include/display_drivers/disp_Queue.h
back up/include/display_drivers/SPI.h
back up/include/display_drivers/ST7735.h
back up/src/Buttons.cpp
back up/src/FlashOptions.cpp
back up/src/glcdfont.c
back up/src/Graphics.cpp
back up/src/hw_timer.c
back up/src/Image565.cpp
back up/src/Inputs.cpp
back up/src/main.cpp
back up/src/my_math.cpp
back up/src/Pictures.cpp
back up/src/SimpleCube.cpp
back up/src/Timer.cpp
back up/src/Vectors.cpp
back up/src/Apps/Flash_apps.cpp
back up/src/Apps/Gamma&Tests.cpp
back up/src/Apps/Vertex_Graphics_apps.cpp
back up/src/Menue/Init_menue.cpp
back up/src/Menue/menueItem.cpp
back up/src/Menue/OptionsItem.cpp
back up/src/display_drivers/buffering.cpp
back up/src/display_drivers/disp_Instant.cpp
back up/src/display_drivers/disp_Queue.cpp
back up/src/display_drivers/SPI.cpp
back up/src/display_drivers/ST7735.cpp
back up/SimpleCube.cpp
back up/SimpleCube.h
back up/Vectors.cpp
back up/Vectors.h
back up/include/display_drivers/disp_buffering.h
back up/include/display_drivers/driver_ST7735.h
back up/src/display_drivers/disp_buffering.cpp
back up/src/display_drivers/driver_ST7735.cpp
